<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FCVZaloService.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <FCVZaloService.Settings1>
            <setting name="apiUrl" serializeAs="String">
                <value>http://192.168.0.214:8098/api/</value>
            </setting>
            <setting name="ivgUrl" serializeAs="String">
                <value>http://192.168.0.214:8098/api/</value>
            </setting>
            <setting name="scheduleTimeResetToken" serializeAs="String">
                <value>600000</value>
            </setting>
            <setting name="scheduleTimeScanUsers" serializeAs="String">
                <value>180000</value>
            </setting>
            <setting name="scheduleTimeScanMessages" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="scheduleTimeScanWebhook" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="scheduleTimeScanCheckConsent" serializeAs="String">
                <value>300000</value>
            </setting>
            <setting name="turnOnRequestConsent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="scheduleTimeScanRequestConsent" serializeAs="String">
                <value>300000</value>
            </setting>
            <setting name="scheduleTimeScanOA" serializeAs="String">
                <value>86400000</value>
            </setting>
            <setting name="connectionString" serializeAs="String">
                <value>Data Source=192.168.0.214;Initial Catalog=FCVWebportal;Persist Security Info=True;User ID=sa;Password=ivgvn123$</value>
            </setting>
        </FCVZaloService.Settings1>
    </userSettings>
</configuration>